<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Akita 数据库引擎UI</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #left-nav{
            width:20%;
            float:left;
        }
        #right-box{
            width:77%;
            height:500px;
            float:left;
            margin-left:15px;
        }
        #right-box div{
            height: 100%;
        }
        a:link {text-decoration:none;}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <h2 style="text-align:center;">Akita 数据库引擎UI</h2>
    </div>
</nav>
<div>
    <div id="left-nav">
        <ul class="list-group">
            <li class="list-group-item"><a href="/">主页面</a></li>
            <li class="list-group-item"><a href="/search">图片查找</a></li>
            <li class="list-group-item list-group-item-info"><a href="/insert">图片插入</a></li>
        </ul>
    </div>
    <div id="right-box">
        <div class="panel panel-default">
            <div class="panel-body">
                图片插入页面
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>